body{
	
}

.slogan div{
	font-size: 5px;
}

.btn{
    color: red;
    text-align: center;
    background-color: rgba(400,140,2,5);
    padding: .45em;
    border-radius:.4em;

}

.wrapper .btn{
    color: white;
}

.button{
    text-align: center;
}